################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Windows/Dunzo/Dunzo/obj
/Windows/Dunzo/Dunzo/bin/x86/Debug
/Windows/Dunzo/.vs/Dunzo
